<h1>Overzicht kampen</h1>
<table class="table table-striped table-hover table-responsive margin-bottom-90">
  <thead>
  <tr>
    <th>
      Tak
    </th>
    <th>
      Start
    </th>
    <th>
      Eind
    </th>
    <th>
      Locatie
    </th>
    <th>
      Plaatsen tekort heen
    </th>
    <th>
      Plaatsen tekort terug
    </th>
    <th>
      Acties
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let camp of (camps$ | async)">
    <td>{{ camp.Group }}</td>
    <td>{{ camp.StartDate }} {{ camp.StartTime }}</td>
    <td>{{ camp.EndDate }} {{ camp.EndTime }}</td>
    <td>{{ camp.StreetName }} {{ camp.HouseNumber }}, {{ camp.PostCode }} {{ camp.City }}</td>
    <td>{{ camp.AmountOfMembers + camp.AmountOfLeaders + camp.AmountOfHelpers}}</td>
    <td>{{ camp.AmountOfMembers + camp.AmountOfLeaders + camp.AmountOfHelpers}}</td>
    <td ><i class="fas fa-edit" (click)="editCamp(camp.CampId)"></i><i class="fas fa-trash-alt" (click)="checkForDrivers(camp.CampId)"></i></td>
  </tr>
  </tbody>
</table>
<a routerLink="/addCamp" class="btn btn-info right-bottom">Voeg een kamp toe</a>
