<h1>Overzicht kampen</h1>
<table class="table table-striped table-hover table-responsive">
  <thead>
  <tr>
    <th>
      Tak
    </th>
    <th>
      Start
    </th>
    <th>
      Eind
    </th>
    <th>
      Locatie
    </th>
    <th>
      Plaatsen tekort
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let camp of (camps$ | async)">
    <td>{{ camp.Tak }}</td>
    <td>{{ camp.Startdatum.toDate().toLocaleDateString() }}</td>
    <td>{{ camp.Einddatum.toDate().toLocaleDateString() }}</td>
    <td>{{ camp.Straatnaam }} {{ camp.Huisnummer }}, {{ camp.Postcode }} {{ camp.Gemeente }}</td>
    <td>{{ camp.AantalLeden + camp.AantalLeiding + camp.AantalFoeriers}}</td>
  </tr>
  </tbody>
</table>
