// Overschrijf BS variabelen en mixins
$theme-colors: (
  'primary': #009CAB,
  'danger': #F04C25,
  'salmon' : salmon
);

// Link naar BS en FA
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Eigen code/partials

// Margin Top
.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

// Margin bottom
.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-90 {
  margin-bottom: 90px;
}

// Theme background colors
.bg-primary {
  background-color: map-get($theme-colors, "primary");
}

.bg-danger {
  background-color: map-get($theme-colors, "danger");
}

.bg-salmon {
  background-color: map-get($theme-colors, "salmon");
}

.btn {
  cursor: pointer;
}

.btn-outline-secondary {
  cursor: not-allowed;
}

.navbar-text {
  color: white !important;
}

.avatar {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.divider-right {
  padding-right: 10px;
  border-right: solid 1px rgba(255, 255, 255, 0.5);
}

.right-bottom {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
